{% extends './base.html' %}
{% load static %}
{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'post/barcelona.css' %}" />
{% endblock %}
{% block content %}
<main>
    <h1>FC바르셀로나</h1>
    <a href="https://www.fcbarcelona.com/en">
        <h2 style="color:springgreen"> >바르셀로나 공식 웹사이트/</h2>
    </a>
    <h2>새로운 영입</h2>
    <div>
        <a><img class="long-img" src={% static 'post/images/barcelona/depay.jpg' %}>
            <p>멤피스 데파이</p>
        </a>
        <a><img class="long-img" src={% static 'post/images/barcelona/가르시아.jpeg' %}>
            <p>에릭 가르시아</p>
        </a>
        <a><img class="long-img" src={% static 'post/images/barcelona/아구에로 오피셜.jpeg' %}>
            <p>세르히오 아구에로</p>
        </a>
    </div>
    <h2>감독</h2>
    <div>
        <a><img src={% static 'post/images/barcelona/로날드 쿠만.jpg' %}>
            <p>로날드 쿠만</p>
        </a>
    </div>
    <h2>골키퍼</h2>
    <div>
        <a><img src={% static 'post/images/barcelona/ter stegen.jpeg' %}>
            <p>1 테어 슈테겐</p>
        </a>
        <a><img src={% static 'post/images/barcelona/neto.jpeg' %}>
            <p>13 네투</p>
        </a>

    </div>
    <h2>수비수</h2>

    <div>
        <a><img src={% static 'post/images/barcelona/dest.png' %}>
            <p>2 세르지뇨 데스트</p>
        </a>
        <a><img src={% static 'post/images/barcelona/pique.jpeg' %}>
            <p>3 제라르 피케</p>
        </a>
        <a><img src={% static 'post/images/barcelona/araujo.jpeg' %}>
            <p>4 로날드 아라우호</p>
        </a>
        <a><img src={% static 'post/images/barcelona/lenglet.jpeg' %}>
            <p>15 클레망 랑글레</p>
        </a>
        <a><img src={% static 'post/images/barcelona/jordi alba.jpeg' %}>
            <p>18 조르디 알바</p>
        </a>
        <a><img src={% static 'post/images/barcelona/sergi.jpeg' %}>
            <p>20 세르지 로베르토</p>
        </a>
        <a><img src={% static 'post/images/barcelona/umtiti.png' %}>
            <p>23 사무엘 움티티</p>
        </a>
        <a><img src={% static 'post/images/barcelona/firpo.jpg' %}>
            <p>24 주니오르 피르포</p>
        </a>
    </div>
    <h2>미드필더</h2>
    <div>
        <a><img src={% static 'post/images/barcelona/busquets.jpg' %}>
            <p>5 세르히오 부스케츠</p>
        </a>
        <a><img src={% static 'post/images/barcelona/피아니치.jpeg' %}>
            <p>8 미랄렘 피아니치</p>
        </a>
        <a><img src={% static 'post/images/barcelona/puig.jpeg' %}>
            <p>12 리키 푸츠</p>
        </a>
        <a><img src={% static 'post/images/barcelona/coutinho.jpeg' %}>
            <p>14 필리페 쿠티뉴</p>
        </a>
        <a><img src={% static 'post/images/barcelona/pedri.jpeg' %}>
            <p>16 페드리</p>
        </a>
        <a><img src={% static 'post/images/barcelona/matheus.jpg' %}>
            <p>19 마테우스 페르난데스</p>
        </a>
        <a><img src={% static 'post/images/barcelona/de jong.jpeg' %}>
            <p>21 프렝키 데용</p>
        </a>
    </div>
    <h2>공격수</h2>
    <div>
        <a><img src={% static 'post/images/barcelona/griezmann.jpeg' %}>
            <p>7 앙투안 그리즈만</p>
        </a>
        <a><img src={% static 'post/images/barcelona/브레이스웨이트.jpg' %}>
            <p>9 마르틴 브레이스웨이트</p>
        </a>
        <a><img src={% static 'post/images/barcelona/messi.jpg' %}>
            <p>10 리오넬 메시</p>
        </a>
        <a><img src={% static 'post/images/barcelona/dembele.jpg' %}>
            <p>11 우스만 뎀벨레</p>
        </a>
        <a><img src={% static 'post/images/barcelona/trincao.png' %}>
            <p>17 프란시스쿠 트린캉</p>
        </a>
        <a><img src={% static 'post/images/barcelona/fati.jpeg' %}>
            <p>22 안수 파티</p>
        </a>
    </div>
</main>
{% endblock %}