{% load static %}
<footer>
    <aside>
        <hr size="4">
    </aside>
    <section>
        <img src="{% static 'post/images/main_logo.png' %}" alt="" width="200" height="100"><br>
        <a href="https://github.com/Firoms/Live_Soccer_Center" target='_blank'>
            <img src="{% static 'post/images/github_logo.png' %}" alt="" width="40" height="40">
        </a>
        <p><small>&copy; 2021 Dezeli</small></p>
        <p><small>haterecursive@gmail.com</small></p>
    </section>
    <aside>
        <hr size="4">
    </aside>
</footer>
