{% extends 'post/base.html' %}
{% load static %}
{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'user/signup.css' %}" />
{% endblock %}
{% block content %}
    <main>
        <div>
            <p><회원 가입></p>
            <form action="{% url 'user:signup' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="" value="추가하기">
            </form>
        </div>
            {% if messages %}
            {% for message in messages %}
            <script>alert("{{ message }}")</script>
            {% endfor %}
            {% endif %}
        
    </main>
{% endblock %}
    