footer{
    width: 70%;
    display: grid;
    grid-template-columns: 5fr 3fr 5fr;
    gap: 35px;
    margin: 0 auto;
}
footer aside{
    margin-top: 100px;
    text-align: center;
}
footer section{
    margin: 50px 0;
    text-align: center;
}
footer section img{
    margin: 20px 10px 15px 10px ;
}